@import './base.css';

#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(2, 110, 173);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #999;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }
}
